<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/404.png">
        <link rel="stylesheet"  href="/css/style.css">
    </head>

    <body>

        <div class="class mainContent">
        {{>header}}
        {{error}}
            
        </div>

        {{>footer}}
        
    </body>

</html>