<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet"  href="/css/style.css">
    </head>

    <body>

        <div class="mainContent">
        {{>header}}
        <div>
            <P style="float: left;">"Hello, My name is Zhixiang(Kevin) Yan. I am a sophomore at Georgia State University studying computer science. I have a passion for coding and enjoy exploring the intricacies of programming. I find immense joy in solving problems and creating innovative solutions through my code. I am an ambitious individual who strives to connect with people, 
                collaborate on projects, and contribute to the tech community.
            </P>
            <br>
            <img style="float: right; margin-top: 50px;" class="portrait" src="/img/coding.jpg">
              <p style="margin-top: 200px;">Feel Free to connect me on linkedin!</p>
              <a href="https://www.linkedin.com/in/zhixiang-yan-750b71244?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B5yW%2F6LPaT16FgSA2VvOkTA%3D%3D0000">
  <img src="/img/linkedin.png" alt="Connect me on Linkedin">
</a>

        </div>
            
        </div>

        {{>footer}}
        
    </body>

</html>